*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    margin: auto;
    flex-direction: column;
    font-size: large;
    background-color: gainsboro;
}

#container{
    margin: 50px 50px;
   padding: 50px 100px;
    display: flex;
    flex-direction: column;
      
    justify-content: center;
    text-align: center;
    

}
